@media (min-width: 1400px) {
    .container, .container-xxl {
        max-width: 75%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.add-icon {
    width: 24px;
    height: 24px;
    background-color: #E41D56 !important;
}

.add-icon:hover {
    background-color: #ba1947!important;
}

.filter-buttons {
    border: solid 1px rgb(189, 189, 189) !important;
}

.filter-buttons:hover {
    background-color: #e8e7e7;
}



.carousel-inner {
    width: 100%;
    aspect-ratio: 4/3;
}


.heart-icon{
    top:10px!important;
    right:10px!important;
    z-index: 2;
    color:white;
    font-size: 1.5rem;
}

.heart-icon:hover{
    z-index: 2;
    color: #ba1947;
}

.bi-heart-fill{
    color:#ba1947;
    z-index: 2;
}

.card{
    transition:transform 500ms;
}

.card:hover{
    transform:scale(0.95);
}